{% extends "base.html" %}
{% block title %}Bookings{% endblock %}

{% block content %}
<div>
  <h2>Book a Treatment</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}  {# Render the form fields in the template #}
    <input type="submit" value="Book">
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
  $(document).ready(function() {
    
    var today = new Date();
    
    var bookedDates = [
      {% for booking in bookings %}
        new Date("{{ booking.date|date:'Y-m-d' }}"),
      {% endfor %}
    ];

    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      todayHighlight: true, 
      beforeShowDay: function(date) {
       
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();

        
        var dateString = year + '-' + ('0' + month).slice(-2) + '-' + ('0' + day).slice(-2);

        // Check if the date is in the past
        var isPast = date < today;

        // Check if the date is booked
        var isBooked = bookedDates.some(function(bookedDate) {
          var bookedYear = bookedDate.getFullYear();
          var bookedMonth = bookedDate.getMonth() + 1;
          var bookedDay = bookedDate.getDate();
          var bookedDateString = bookedYear + '-' + ('0' + bookedMonth).slice(-2) + '-' + ('0' + bookedDay).slice(-2);
          return bookedDateString === dateString;
        });

        return {
          enabled: !isPast && !isBooked, 
          tooltip: false 
        };
      },
      orientation: 'bottom', 
    });
  });
</script>

{% endblock %}