{% extends "base.html" %}
{% block title %}Bookings{% endblock %}

{% block content %}
<div>
  <h2>Book a Treatment</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}  {# Render the form fields in the template #}
    <input type="submit" value="Book">
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
  $(document).ready(function() {
    // Get the list of booked dates from the server
    var bookedDates = [
      {% for booking in bookings %}
        new Date("{{ booking.date|date:'Y-m-d' }}"),
      {% endfor %}
    ];

    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      beforeShowDay: function(date) {
        // Convert the date to the format YYYY-MM-DD for comparison
        var dateString = date.toISOString().slice(0, 10);
        // Check if the date is in the bookedDates list
        var isBooked = bookedDates.some(function(bookedDate) {
          return bookedDate.toISOString().slice(0, 10) === dateString;
        });
        // Return true to enable selectable dates and false to disable booked dates
        return {
          enabled: !isBooked
        };
      }
    });
  });
</script>
{% endblock %}