{% extends "base.html" %}
{% load static %}
{% block title %}Behandlingar{% endblock %}
{% block content %}
<div>
  <h2 class="text-center">Behandlingar</h2>
  <ul class="d-flex justify-content-center">
    {% for treatment in treatments %}
    <li>
      <h3>{{ treatment.name }}</h3>
      <img src="{{ treatment.image_url }}" alt="{{ treatment.name }} Image">
      <p>Cost: {{ treatment.cost }}</p>
      <p>Description: {{ treatment.description }}</p>
      <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
    </li>
    {% empty %}
    <li>Inga behandlingar tillgängliga för tillfället.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}