{% extends "base.html" %}
{% load static %}
{% block title %}Behandlingar{% endblock %}
{% block content %}
<style>
  .treatment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.treatment-list li {
  display: inline-block;
  padding: 3%;
}

.treatment-item {
  text-align: center;
  max-width: 300px;
  max-height: 500px; 
  padding: 10px;
  border: 2px solid black;
}

.treatment-item img {
  max-width: 100%; 
  max-height: 200px; 
  display: block; 
  margin: 0 auto; 
}

</style>
<h2 class="d-flex justify-content-between">Behandlingar</h2>
<main class="d-flex justify-content-between text-white">
  <div>
    <ul class="treatment-list">
      {% for treatment in treatments %}
      <li>
        <div class="treatment-item bg-secondary">
          <img src="{{ treatment.image_url }}" alt="{{ treatment.name }} Image">
          <h5>{{ treatment.name }}</h5>
          <p>Pris: {{ treatment.cost }}</p>
          <p>Beskrivning: {{ treatment.description }}</p>
          <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
        </div>
      </li>
      {% empty %}
      <li>Inga behandlingar tillgängliga för tillfället.</li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}