{% extends "base.html" %}
{% load static %}
{% block title %}Behandlingar{% endblock %}
{% block content %}
<style>
  .card {
    margin-bottom: 20px;
    color: white;
  }
</style>

<h2 class="text-center mb-4">Behandlingar</h2>

<div class="row">
  {% for treatment in treatments %}
  <div class="col-md-4">
    <div class="card bg-dark bg-gradient mb-3" style="max-width: 18rem; min-height: 35rem;">
      <img src="{{ treatment.image_url }}" class="card-img-top" alt="{{ treatment.name }} Image">
      <div class="card-body">
        <h5 class="card-title">{{ treatment.name }}</h5>
        <p class="card-text">Pris: {{ treatment.cost }}</p>
        <p class="card-text">Beskrivning: {{ treatment.description }}</p>
        <a href="{% url 'bookings' %}" class="btn btn-outline-light">Book Now</a>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-md-12">
    <p>Inga behandlingar tillgängliga för tillfället.</p>
  </div>
  {% endfor %}
</div>

{% endblock %}