{% extends "base.html" %} 
{% block title %} Home page {% endblock %}
{% load static %}
{% block content %}
<h1 class="text-center py-5">Välkommen till Mirus Nordic</h1> 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/v1709126359/hu6j4qhbngcszx2jvbdb.jpg" alt="bilbild" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p class="lead">
                din främsta destination för lyxig bilvård och detaljeringstjänster.
                Vi är passionerade för att ge din bil den omsorg den förtjänar,
                oavsett om det är en klassisk pärla eller den senaste sportbilen på marknaden. 
                Med vårt dedikerade team av erfarna detaljerare och vår användning av premiumprodukter och avancerade tekniker,
                strävar vi alltid efter att uppnå perfektion i varje detalj. 
                Låt oss ta hand om din bil och låt den återfå sitt glans och skönhet hos Mirus Nordic.
                Välkommen till en värld av enastående bilvårdsupplevelser.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center-reverse flex-row-reverse py-5">        
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/c_crop,ar_16:9/v1709208007/qgv8kjt95kc6s4q4bdiu.jpg" alt="mirus Bil" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p class="lead">
                din främsta destination för lyxig bilvård och detaljeringstjänster.
                Vi är passionerade för att ge din bil den omsorg den förtjänar,
                oavsett om det är en klassisk pärla eller den senaste sportbilen på marknaden. 
                Med vårt dedikerade team av erfarna detaljerare och vår användning av premiumprodukter och avancerade tekniker,
                strävar vi alltid efter att uppnå perfektion i varje detalj. 
                Låt oss ta hand om din bil och låt den återfå sitt glans och skönhet hos Mirus Nordic.
                Välkommen till en värld av enastående bilvårdsupplevelser.
            </p>
        </div>
    </div>
</div>
{% endblock %}