{% extends "base.html" %} 
{% block title %} Home page {% endblock %}
{% load static %}
{% block content %}
<h1 class="text-center py-5">Välkommen till Mirus Nordic</h1> 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/v1709126359/hu6j4qhbngcszx2jvbdb.jpg" alt="bilbild" class="img-fluid">
        </div>
        <div class="col-md-6 px-3">
            <h3>Om Oss - Din Ledande Professionella Detaljeringservice</h3>
            <p class="lead">
                Välkommen till Mirus Nordic, där excellens inom bilvård möter en oöverträffad passion och
                dedikation. Som den ledande professionella detaljeringservicen är vi engagerade i att leverera
                enastående resultat, felfri kundservice och en förvandlande upplevelse för varje fordon som besöker vår
                verkstad. Med en blandning av expertis, innovation och en genuin kärlek för bilar är vi stolta över att
                sätta standarden för fordonsperfektion.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center-reverse flex-row-reverse py-5">        
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/c_crop,ar_16:9/v1709208007/qgv8kjt95kc6s4q4bdiu.jpg" alt="mirus Bil" class="img-fluid">
        </div>
        <div class="col-md-6 px-3">
            <h3>Obestridlig Kvalitet</h3>
            <p class="lead">
                På Mirus Nordic är kvalitet inte bara ett mål; det är vår besatthet. Vi tror att varje fordon
                förtjänar den yttersta omsorgen och uppmärksamheten på detaljer, vilket är varför vi bara använder de
                mest avancerade teknikerna, premiumprodukterna och skickliga hantverkarna för att leverera exceptionella
                resultat. Från noggrann handtvätt och lackkorrigering till keramiska beläggningar och
                interiöråterställning, säkerställer vår noggranna tillvägagångssätt att varje tum av ditt fordon får den
                kungliga behandling det förtjänar..
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center ">
        <div class="col-md-6 px-3">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/v1709126359/hu6j4qhbngcszx2jvbdb.jpg" alt="bilbild" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Expertis Du Kan Lita På</h3>
            <p class="lead">
                Med års erfarenhet inom fordonsdetaljeringsbranschen har vårt team av kunniga proffs expertisen och
                kunskapen som krävs för att ta sig an även de mest utmanande detaljeringsprojekten. Oavsett om du kör en
                klassisk bil, en exotisk superbil, en lyxig sedan eller en daglig pendlarbil, kan du vara säker på att
                ditt fordon är i kapabla händer. Våra tekniker genomgår rigorös träning och håller sig à jour med de
                senaste branschframstegen för att säkerställa att vi konsekvent levererar resultat som överträffar
                förväntningarna.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center-reverse flex-row-reverse py-5">        
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/c_crop,ar_16:9/v1709208007/qgv8kjt95kc6s4q4bdiu.jpg" alt="mirus Bil" class="img-fluid">
        </div>
        <div class="col-md-6 px-3">
            <h3>Kundcentrerat Tillvägagångssätt</h3>
            <p class="lead">
                I hjärtat av vår verksamhet ligger en åtagande till våra kunder. Vi förstår att anförtro ditt fordon
                till en detaljeringsservice är ett beslut som kräver förtroende och självförtroende. Därför prioriterar
                vi öppen kommunikation, transparens och personlig service i allt vi gör. Från det ögonblick du kontaktar
                oss till avslutningen av ditt detaljeringsprojekt kan du förvänta dig inget annat än den högsta nivån av
                professionalism, integritet och respekt.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center">        
        <div class="col-md-6 px-3">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/c_crop,ar_16:9/v1709208007/qgv8kjt95kc6s4q4bdiu.jpg" alt="mirus Bil" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Innovation och Teknologi</h3>
            <p class="lead">
                Som ledare inom fordonsdetaljeringsbranschen omfamnar vi innovation och utnyttjar skärpteknik
                kontinuerligt för att förbättra våra tjänster. Från toppmodern utrustning och miljövänliga
                rengöringslösningar till avancerade lackskyddsfilmer och keramiska beläggningar håller vi oss steget
                före för att säkerställa att våra kunder får fördelarna med de senaste framstegen inom fordonsvård.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center-reverse flex-row-reverse py-5">
        <div class="col-md-6 px-3">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/v1709126359/hu6j4qhbngcszx2jvbdb.jpg" alt="bilbild" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Miljömässigt Ansvar</h3>
            <p class="lead">
                Vi inser vikten av miljömässig hållbarhet och är engagerade i att minimera vårt ekologiska fotavtryck.
                Därför prioriterar vi användningen av miljövänliga produkter och metoder där det är möjligt, vilket
                säkerställer att våra detaljeringstjänster inte bara förbättrar ditt fordon utseende utan också bidrar
                till en renare, friskare planet för framtida generationer.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center">        
        <div class="col-md-6 px-3">
            <img src="https://res.cloudinary.com/df7kityih/image/upload/c_crop,ar_16:9/v1709208007/qgv8kjt95kc6s4q4bdiu.jpg" alt="mirus Bil" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Samhällsengagemang</h3>
            <p class="lead">
                Utöver vår hängivenhet till fordonsperfektion är vi stolta över att vara aktiva medlemmar i samhället.
                Vi tror på att ge tillbaka och stödja lokala initiativ som gör en positiv skillnad i andra människors
                liv. Oavsett om det är genom välgörenhetsdonationer, samhällshändelser eller utbildningsprogram strävar
                vi efter att göra en skillnad både på och utanför vägen.
            </p>
        </div>
    </div>
</div>
{% endblock %}