{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Django app{% endblock %}</title>
</head>
<body>
    <!-- header & navbar -->
    <header>
        <nav class="et-hero-tabs">
            <img src="static/images/mirus-nordic.png" alt="Logga">
            <h1></h1>
            <div class="et-hero-tabs-container">
                <a class="et-hero-tab">Hem</a>
                <a class="et-hero-tab">Behandlingar</a>
                <a class="et-hero-tab">Kontakt</a>
                <a class="et-hero-tab">om oss</a>
                <span class="et-hero-tab-slider"></span>
            </div>
        </nav>
    </header>
    
    <!-- main -->
    <main class="et-main">
   
        <section class="et-slide" id="tab-es6">
            <h1>Hej</h1>
            <h3>HEHEHEHHEHEH</h3>
        </section>
        <section class="et-slide" id="tab-flexbox">
            <h1>Hej</h1>
            <h3>HEHEHEHEHHE</h3>
        </section>
        <section class="et-slide" id="tab-react">
            <h1>Hej</h1>
            <h3>HEHEEHEHEHEH</h3>
        </section>
        <section class="et-slide" id="tab-angular">
            <h1>Hej</h1>
            <h3>HEEHEHEHEEHEHEHEEHEHEHHE</h3>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <!-- footer goes here -->
    </footer>
</body>
</html>
