<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django app{% endblock %}</title>
</head>
<body>

    <!-- header & navbar -->
    <header>
        <nav class="et-hero-tabs">
            <h1>STICKY SLIDER NAV</h1>
            <h3>Sliding content with sticky tab nav</h3>
                <div class="et-hero-tabs-container">
                <a class="et-hero-tab" href="#tab-es6">ES6</a>
                <a class="et-hero-tab" href="#tab-flexbox">Flexbox</a>
                <a class="et-hero-tab" href="#tab-react">React</a>
                <a class="et-hero-tab" href="#tab-angular">Angular</a>
                <a class="et-hero-tab" href="#tab-other">Other</a>
                <span class="et-hero-tab-slider"></span>
            </div>
        </nav>
    </header>
    
    <!-- main -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer -->
    <footer>
        <!-- footer goes here -->
    </footer>
</body>
</html>
